%footer#footer
  .footer-wrapper
    .row
      .col-sm-6.text
        Copyright © 2013 Your Project Name
      .col-sm-6.buttons
        %a.btn.btn-link{:href => "http://www.bublinastudio.com/flatty"} Preview
        %a.btn.btn-link{:href => "https://wrapbootstrap.com/theme/flatty-flat-administration-template-WB0P6NR1N"} Purchase